# Basic Operation and Operators
- ADD +
- SUB -
- MUL *
- DIV / (real number)
- INTEGER DIV // (whole number)
- MODULUS % (remainder)
- EXPONENT ** (power)

In [1]:
2+2

4

In [2]:
23/2

11.5

In [3]:
3-10

-7

In [4]:
329*123

40467

In [5]:
222-111

111

In [6]:
122-34

88

In [7]:
10/3

3.3333333333333335

In [8]:
10//3

3

In [9]:
10*3

30

In [10]:
20**3

8000

In [11]:
100**2

10000

In [12]:
2000%30

20

Comparison Operators

<,> <=, >=, ==, !=

In [13]:
668>=568

True

In [14]:
5467!=868

True

In [15]:
288<233

False

In [16]:
22==22

True

In [17]:
33<=5666

True

In [18]:
23>55

False

In [19]:
556<=455

False

In [20]:
2366>=5644

False

In [21]:
234==234

True

In [22]:
228<=455

True

In [23]:
455!=455

False

In [24]:
60!=521

True

In [25]:
'Hello'

'Hello'

In [26]:
'hello'+' '+ ' Subhadra'

'hello  Subhadra'

In [27]:
'"Hello dear kaise ho aap"'

'"Hello dear kaise ho aap"'

In [28]:
"this is a boy"

'this is a boy'

In [29]:
'''subh
sss
'''

'subh\nsss\n'

In [30]:
name = 'Subhadra Upadhyay'

In [31]:
a = 10
b = 3

In [32]:
a + b

13

a*b

In [33]:
a - b

7

In [34]:
b**a

59049

In [35]:
a//3

3

In [36]:
b//3

1

In [37]:
0.12//3

0.0

In [38]:
Collage ='BBAU TIKARMAFI AMETH'
DOB = 25/11/2002
MOBILE = '6306321145'
print(MOBILE)

6306321145

Some Common Errors

In [39]:
# Single quotes error
Location = 'Locknow is a clean city'

In [40]:
Location = 'amethi'

In [41]:
location = "Lucknow"

string operators
example

In [42]:
33 + 55 #add

88

In [43]:
name+66

TypeError: can only concatenate str (not "int") to str

In [ ]:
'hello' + 'word' # conca

'helloword'

In [ ]:
"Random" + location

'RandomLucknow'

In [ ]:
# string and numbers can
a + name

NameError: name 'a' is not defined

In [ ]:
# you can multiply a string
"ha"*10

'hahahahahahahahahaha'

In [ ]:
Name * "Subhadra"

NameError: name 'Name' is not defined

In [ ]:
name * 1

NameError: name 'name' is not defined

In [ ]:
city * 222

In [ ]:
'-' *15

'---------------'

In [ ]:
# city = 'Lucknow'
city * 10

NameError: name 'city' is not defined

In [ ]:
Emoji = "üëçüëçüëç"

In [ ]:
EMOJI = "üòãüòãüòã"

In [ ]:
Emojies = "ü•∞ü•∞üòçüòç" * 10

In [ ]:
22222/66

336.6969696969697

In [ ]:
45*3

135

555---FJ

Variables

In [ ]:
name = "Bruce Wayne"
hero_name = "Batman"
skills = ['fighting','Super intelligence','etc']
created = "Bob Kane"
created_in = 1939

Integer

In [ ]:
X = 123
Y = 6666666
Z = -48489

In [ ]:
X = 12*12

In [ ]:
Type (X)

NameError: name 'Type' is not defined

In [ ]:
x = 1.22

Float

In [ ]:
x = 1.11
y = 1.0 
z = -23.22
z = 12e100

In [ ]:
name = "bruce wayne 01"
color = 'yellow'
institute = 'digipodium'

In [ ]:
kahani = '''this is the story of a person 
who was not learning  to code '''

String

In [ ]:
is_coding = True
is_fun = True
are_u_bored = False

None

In [ ]:
x = None

List

In [ ]:
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2,'python']
colors = ['red,''green,''yellow']

Tuple

In [ ]:
a = (5,10,15,20,25,30,35,40)
vals = (1,2.2,'python')
colors = ('red,''green,''yellow')

Sets

In [ ]:
a = {5,10,15,20,25,30,35,40}
vals = {1,2.2,'python'}
colors = {'red,''green,''yellow'}

Dictionaries

In [ ]:
car_info = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}