Loops

In [19]:
X = "PYTHON"
for i in X:
    print(i)

P
Y
T
H
O
N

In [20]:
fruits = ['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [21]:
movies = ['The Holy Grail','The life of Brian','The Meaning of Life','Terminator','Pulp Fiction']

In [22]:
for movie in movies:
    print(movie,len(movie))

The Holy Grail 14
The life of Brian 17
The Meaning of Life 19
Terminator 10
Pulp Fiction 12

In [23]:
# for loop with counter
for i,name in enumerate(movies):
    print (f"{i}-{name}")

0-The Holy Grail
1-The life of Brian
2-The Meaning of Life
3-Terminator
4-Pulp Fiction

range()function

In [24]:
for i in range(6):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [25]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [26]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [2]:
for num in range(2,44):
  print('level',num)

level 2
level 3
level 4
level 5
level 6
level 7
level 8
level 9
level 10
level 11
level 12
level 13
level 14
level 15
level 16
level 17
level 18
level 19
level 20
level 21
level 22
level 23
level 24
level 25
level 26
level 27
level 28
level 29
level 30
level 31
level 32
level 33
level 34
level 35
level 36
level 37
level 38
level 39
level 40
level 41
level 42
level 43

In [28]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [29]:
# pattern loop
for i in range(10):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [30]:
for i in range(5):
    print(i*'Subhadra')

Subhadra
SubhadraSubhadra
SubhadraSubhadraSubhadra
SubhadraSubhadraSubhadraSubhadra

#### 1. Write to print if number are even or odd from 1,100
#### 2. Write to print the sum of all even numbers from 2 to 101
#### 3. Write to print the average of all odd numbers from 1 to 100

In [31]:
 num = int (input ("Enter any number to test whether it is odd or even:"))
if (num % 2) == 0:
    print ("The number is even")
else:
    print ("The provided number is odd")

The number is even

In [3]:
# 1
for i in range(1,100):
    if i %2 == 0:
        print('even',i)
    else:
       print('odd',i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33
even 34
odd 35
even 36
odd 37
even 38
odd 39
even 40
odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50
odd 51
even 52
odd 53
even 54
odd 55
even 56
odd 57
even 58
odd 59
even 60
odd 61
even 62
odd 63
even 64
odd 65
even 66
odd 67
even 68
odd 69
even 70
odd 71
even 72
odd 73
even 74
odd 75
even 76
odd 77
even 78
odd 79
even 80
odd 81
even 82
odd 83
even 84
odd 85
even 86
odd 87
even 88
odd 89
even 90
odd 91
even 92
odd 93
even 94
odd 95
even 96
odd 97
even 98
odd 99

In [17]:
# simple version
total = 0
for i in range(2,101):
    if i % 2 == 0:
        total += i
print("total of all even number=>",total)

total of all even number=> 2550

In [3]:
total = 0
for i in range(1,100):
    if i % 2 == 0:
        total += i
print("total of all odd number=>",total)

total of all odd number=> 2450

In [16]:
# naive implementation
print(1,2,3,4,5,sep=',')
print(2,4,6,8,10,sep=',')
print(3,6,9,12,15,sep=',')
print(4,8,12,16,20,sep=',')
print(5,10,15,20,25,30,sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25,30

In [11]:
# better implemenation
for i in range(1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [23]:
# best implemenation -> dynamics row and col
for row in range(1,5):
    for col in range(1,5):
        print(row*col,end=',')
    print()

1,2,3,4,
2,4,6,8,
3,6,9,12,
4,8,12,16,

In [15]:
for row in range(1,6):
    for col in range(1,6):
        print(row*col,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

While loop

In [17]:
X = 1
while X < 5:
    print('run')
    X += 1
print('stop')

run
run
run
run
stop

In [18]:
# a complex program
n=10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1     # update counter

# print the sum
print("The sum is",sum)

The sum is 55

In [22]:
poem=''
while input('do you want to write another link?[y/n')=='y':
    line = input(">>>")
    poem += line
chars = len(poem)
print(f"total chars in poem is {chars}")

total chars in poem is 0

Break & Countinue

In [23]:
# continue
X = [1,2,3,4,5,6,7,8,9,10]
total = 0 
for i in X:
    if isinstance(i,str):
        continue
    total += i
print(total)

55

In [29]:
# continue
X = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0 
for i in X:
    if isinstance(i,str):
        continue
    total += i
print(total)

55

In [32]:
poem= ''
while True: # infinite
    line = input("enter poem line>>") 
    if line:         # if line has lan greater than 0
        poem += line+'\n'
    else:
        break
print("total chars",len(poem))
print(poem)

total chars 8
Ram Ram

In [2]:
poem=''
while True:
    line = input('enter poem line')
    if line:
        poem += line+ 'n'
    else:
        break
print('total chars',len(poem))
print(poem)

total chars 14
Jay Shree Ramn

In [13]:

for i in range(1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [5]:
for i in range(2,5,2):
    print(2*i,4*i,sep=',')

4,8
8,16

In [1]:
list1 = ["Harry","Larry", "Carry", "Marry"]

for item in list1:
    print(item)

Harry
Larry
Carry
Marry

In [5]:
list1 =[["Harry", 2], ["Larry",55], 
["Carry",77], ["Marry", 7]]

for item,lollypop in list1:
    print(item, "and lolly is", lollypop)

Harry and lolly is 2
Larry and lolly is 55
Carry and lolly is 77
Marry and lolly is 7

In [8]:
items = [int, float, "Harry", 3,4,5,8,9,23,44,54,22,12]

for item in items:
    if str (items). isnumeric() and item>6:
        print(item)

In [ ]:
s = 'bitanupadhyay'