# set
- set is **mutable** `(items can be changed during execution)`
- set is heterogenous `(mixed data can be stored)`
- set can have **unique** values
- set is **unindexed** and **unordered** `(item have indexes and can be sliced)`
- set uses { } brackets with values inside it seperated with commas
- to create empty we have to use set()
- set can only store immutable datatype value (numbers. string, tuples,etc)

# what to learn
#### creating a set âœ”
#### traversal (looping) âœ”
#### function âœ”
#### conversion between list/tuple/set

In [ ]:
a = set() # empty
b = {1,2,3,4}
c = set([1,2,3,4])
print(a,b,c)

set() {1, 2, 3, 4} {1, 2, 3, 4}

In [ ]:
a.add(1)
a

{1}

In [ ]:
d = {1,2,3,2,1,2,2,2,2,1,2,3,1,5,44,667}
print(d)

{1, 2, 3, 5, 667, 44}

In [ ]:
d.remove(2)

In [ ]:
X = set()
for i in range(5):
    val = input ("Enter a value:")
    X.add(val)
print(X)

{'33', '3', '93'}

In [ ]:
b

{1, 2, 3, 4}

In [ ]:
for i in b:
    print(i)

1
2
3
4

In [ ]:
for name in X:
    print(name,end= ' ')

33 3 93

### functions
- adding values
     - add()       #(it add only one values)
     - update()    #(it add multiple va;lues at a times )
- removing values
     - remove()
     - discard() ðŸ‘ˆ
     - pop()
     - clear()
- set operations
     - union()
     - intersection()
     - difference()
     - symmetric_difference()
     - is_superset()
     - is_subset()
     - is_disjoint()

In [ ]:
sa = {1,2,3,4,5}
sb = {2,7,8,8,9,5}

In [ ]:
print(sb. union(sa))
print(sa | sb) # & oprator is union

{1, 2, 3, 4, 5, 7, 8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
print(sb.intersection(sa))
print(sa - sb) # & oprator is intersection

{2, 5}
{1, 3, 4}

In [ ]:
print(sb.difference(sa))
print(sa - sb) # - oprator is differnce

{8, 9, 7}
{1, 3, 4}

In [ ]:
print(sb.symmetric_difference(sa))
print(sa ^ sb) # - oprator is symmetric differance

{1, 3, 4, 7, 8, 9}
{1, 3, 4, 7, 8, 9}

In [ ]:
sc = (1,2,3,4,5,6,7,8,9,10)
sd = (11,12,13)

In [ ]:
sa.issubset(sc) # true

True

In [ ]:
sb.issubset(sc)

True

In [ ]:
sd.issubset(sc)

wap to take 10 integers in a set from user and then display the sum of all values

In [21]:
X = set()
for i in range(10):
    val = input("Enter a value")
    X.add(val)
print(X)

In [ ]:
total = 0
X = set()
for i in range(10):
    num = int(input("Enter a number:"))
    X.add(num)
total = sum(X)
print(X)
print(total)

{3, 4, 5, 6, 244}
262